.promo-card {
  width: 100%;
  height: 600px;
  background-color: #ffffff;
  position: relative;
}

.promo-inner-container {
  width: 60%;
  height: 80%;
  background-color: #D9D9D9;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.promo-image-container {
  width: 45%;
  height: 80%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  overflow: hidden;
}

.promo-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
